body {
  width: 100%;
  margin: auto;
}

#navbar {
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  padding: 7px;
}

#navbar p {
  margin: 7px;
}
#heading {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: large;
}
#thorax {
  background-color: white;
  color: black;
  display: flex;
  padding: 10px;
  width: auto;
}

#thorax .boxes {
  flex: 1;
}

#thorax #image {
  display: flex;
  justify-content: center;
  align-items: center;
}
#thorax #image img {
  border: 1px solid;
}

#thorax #desc {
  flex: 1;
  text-align: center;
  padding: 5px;
}
#order {
  background-color: orange;
  color: white;
  border: 2px orange solid;
  border-radius: 7px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

footer {
  background-color: navy;
  color: white;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
}
footer #order {
  border-radius: 7px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
  body {
    width: 90%; /* Set the desired width for mobile devices */
  }
}

/* Media query for desktop devices */
@media only screen and (min-width: 768px) {
  body {
    width: 60%; /* Set the desired width for desktop devices */
  }
}
